p{
    
    font-size: 15px;
    font-weight: var(--fw-200);
    color: var(--grayish-blue);
}
h1, h2{
    font-size: 1.3rem;
}

h3{
    color:var(--dark-blue);
    padding: 0.2rem 0;
    font-size: 1.1rem;
}
.box p{
    margin: 0.5rem 0;
    font-size: 15px;
    line-height: 1.8;
}
.box img{
    /* display: block; */
   align-self: flex-end;
   margin: 1rem 0;
}
/* padding all around */

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

.p-4 {
    padding: 2rem;
}

.p-5 {
    padding: 2.5rem;
}

.p-6 {
    padding: 3rem;
}


/* Padding from top and bottom */
.py-1 {
    padding: 0.5rem 0;
}

.py-2 {
    padding: 1rem 0;
}

.py-3 {
    padding: 1.5rem 0;
}

.py-4 {
    padding: 2rem 0;
}

.py-5 {
    padding: 2.5rem 0;
}

.py-6 {
    padding: 3rem 0;
}

.py-7 {
    padding: 3.5rem 0;
}



/* padding from left and right */
.px-1{
    padding: 0 0.5rem;
}

.px-2{
    padding: 0 1rem;
}
.px-3{
    padding: 0 1.5rem;
}
.px-4{
    padding: 0 2rem;
}
.px-5{
    padding: 0 2.5rem;
}
.px-6{
    padding: 0 3rem;
}
.px-7{
    padding: 0 3.5rem;
}

/* Margin all around */

.m-1 {
    margin: 0.5rem;
}

.m-2 {
    margin: 1rem;
}

.m-3 {
    margin: 1.5rem;
}

.m-4 {
    margin: 2rem;
}

.m-5 {
    margin: 2.5rem;
}

.m-6 {
    margin: 3rem;
}



/* Margin from top and bottomy */
.my-1 {
    margin: 0.5rem 0;
}

.my-2 {
    margin: 1rem 0;
}

.my-3 {
    margin: 1.5rem 0;
}

.my-4 {
    margin: 2rem 0;
}

.my-5 {
    margin: 2.5rem 0;
}

.my-6 {
    margin: 3rem 0;
}

.my-7 {
    margin: 3.5rem 0;
}



/* padding from left and right */
.mx-1{
    margin: 0 0.5rem;
}

.mx-2{
    margin: 0 1rem;
}
.mx-3{
    margin: 0 1.5rem;
}
.mx-4{
    margin: 0 2rem;
}
.mx-5{
    margin: 0 2.5rem;
}
.mx-6{
    margin: 0 3rem;
}
.mx-7{
    margin: 0 3.5rem;
}